<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
      </script>
      <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
</head>

<nav class="navbar shadow navbar-expand-lg navbar-light bg-dark text-light">
    <div class="container">
        <h1>Data Dogs</h1>
        <a href="/overview"><h4 class="nav-elem">overview</h4></a>
        <a href="/compare"><h4 class="nav-elem">compare</h4></a>
        <a href="/cluster"><h4 class="nav-elem">cluster</h4></a>
    </div>
</nav>

<div class="container">

    <h1 style="margin-top:1em;" class="fade-in">Welcome to datadogs!</h1>
    <div class="card-grid">
        <div class="first">
            <div class="card shadow about-card">
                <h4 style="padding-bottom: 1em;">Features:</h4>
                <div style="padding-bottom: 1.5em;" class="list-group m-2">
                    <div class="list-group-item list-group-item-action p-2">
                        <a class="h5" href="/overview">Overview of country and sex aggregates</a>
                    </div>
                    <div class="list-group-item list-group-item-action p-2">
                        <a class="h5" href="/compare">Side by side comparisons</a>
                    </div>
                    <div class="list-group-item list-group-item-action p-2">
                        <a class="h5" href="/cluster">Identify and Compare Clusters</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="third">
            <div class="card shadow about-card third">
                <h4>Processing:</h4>
                <p>I've Z-standardized, mulitplied by ten and floored the data. In the overview, data objects are aggregated by sex and country</p>
                eg:<code>
                    scaler = preprocessing.StandardScaler().fit(df)<br>
                    df = scaler.transform(df)
                    <br>...<br>
                    df.col = df.col.apply(lambda x: math.floor(x*10))
                    <br>...<br>
                    df.groupby(["country", "sex"]).mean()
                </code>
            </div>
        </div>
        
        <div class="second">
            <div class="card shadow about-card">
                <h4>The Data:</h4>
                <img class="car-img-top" src="../static/dataframe.png" alt="dataframe">
                
                <p>Data comes from <a href="https://www.kaggle.com/tunguz">Bojan Tunguz's</a> curation of 
                    <a href="https://www.kaggle.com/tunguz/sex-differences-in-moral-judgements-67-countries">
                        moral foundations data on kaggle.
                    </a> 
                </p>
            </div>
        </div>
        
        <div class="fourth">
            <div class="card shadow about-card">
                <h5>Encoding/Mappings</h5>
                <img class="card-img-top" src="../static/sample.png" alt="dataframe">
                
                <!-- const widthVar = 1.5*purity;
            const heightVar = 5 + 2.5*fair;
            const earHieght = ingroup == 0 ? 7 : 8*(ingroup);
        
            const happiness = -2.5*auth;
            const harmvar = harm;
            if (sex == "f"){sex = "red"}else{sex="blue"} -->
            
                
                <div class="list-group">
                    <div class="list-group-item "> <strong> Purity </strong> -> Dog head width/convexness</div>
                    <div class="list-group-item "> <strong> Fairness </strong>  -> Dog head height/convexness</div>
                    <div class="list-group-item "> <strong> Harm </strong>  -> Dog eyebrow orientation</div>
                    <div class="list-group-item "> <strong> Ingroup </strong>  -> Ear orientation and length</div>
                    <div class="list-group-item "> <strong> Authority </strong>  -> Smile/Frown intensity</div>
                    <div class="list-group-item "> <strong> Sex </strong> -> Dog color</div>
                </div>
            
            </div>
        </div>
        

    </div>
    

    
    
</div>

<script>
    
    var first = document.querySelector(".first");
    var second = document.querySelector('.second');
    var third = document.querySelector('.third');
    var fourth = document.querySelector('.fourth');
    var elems = [first, second, third, fourth];
    elems.forEach(e => {
        e.style.opacity = "0";
    })

    console.log(elems)
    var i = 0;
   
    const animate = () => {
        setInterval(function (){
            if (i < elems.length){

                var newClass = (i + 1) % 2 == 0 ? "odd" : "even";
                if (i + 1 == 3) {newClass = "odd"} 
                elems[i].style.opacity = "1";
                elems[i].classList.add(newClass);
                // if (newClass == "odd"){
                //     elems[i].s
                // }
                i++;
            }
        }, 1200);
    }
    
    animate();

    



</script>